version: '3.9'

services:
    ladyofabsurdities-database:
        container_name: database
        platform: linux/amd64
        image: mysql:8.0
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        ports:
            - '4306:3306'
        volumes:
            - db_data:/var/lib/mysql

    ladyofabsurdities-php:
        container_name: php
        platform: linux/amd64
        build:
            context: ./docker/php/
            dockerfile: Dockerfile
        ports:
            - '9000:9000'
        volumes:
            - ./:/var/www/ladyofabsurdities
            - ./docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
            - ./docker/php/conf.d/error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini
        depends_on:
            - ladyofabsurdities-database

    ladyofabsurdities-nginx:
        container_name: nginx
        platform: linux/amd64
        image: nginx:latest
        ports:
            - '80:80'
            - '443:443'
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./:/var/www/ladyofabsurdities
            - ./docker/nginx/ssl:/etc/nginx/ssl
        depends_on:
            - ladyofabsurdities-php

    ladyofabsurdities-mailer:
        image: schickling/mailcatcher
        ports: [ '1025', '1080' ]

    ladyofabsurdities-phpmyadmin:
        container_name: pma
        platform: linux/amd64
        image: phpmyadmin/phpmyadmin
        links:
            - ladyofabsurdities-database
        environment:
            PMA_HOST: ladyofabsurdities-database
            PMA_PORT: 3306
            PMA_ARBITRARY: 1
        restart: always
        ports:
            - '93:80'
        depends_on:
            - ladyofabsurdities-database
            - ladyofabsurdities-php
            - ladyofabsurdities-nginx
volumes:
    db_data: